.bin/**
*.bak
*.dcu
*.~*
*.dsk
*.bpg
*.drc
*.orig
*.dproj.local
*.identcache
*.cbk
*.stat
*.tvsconfig
*.log
Test/bitmaps/*_out.*
/Benchmark/*.res
/Test/*.res
/SASPlanet.eof
/SASPlanet.mes
/SASPlanet.prjmgc
/SASPlanet.res
