LOGOI RCDATA "LOGOI.jpg"
ICONI RCDATA "ICONI.png"
ICONII RCDATA "ICONII.png"
ICONIII RCDATA "ICONIII.png"
MAINMAP RCDATA "MAINMAP.png"
VRULLER RCDATA "VRULLER.png"
VTUMBLER RCDATA "VTUMBLER.png"
RED RCDATA "RED.png"
FOUNDPNT RCDATA "FOUNDPNT.png"
PANORAMIO RCDATA "PANORAMIO.png"